[credential]
	helper = manager
[core]
	editor = gvim
[difftool "bc"]
    path=c:/Program Files/Beyond Compare 4/bcomp.exe
[mergetool "bc"]
    path=c:/Program Files/Beyond Compare 4/bcomp.exe
[difftool]
	prompt = false
[pull]
	rebase = true

